.nav {
  background-color: #09192f;
  color: #3c9a8f;
  height: 50px;
  display: flex;
  flex-direction: column;
}
a:link {
  text-decoration: none;
  background-color: none;
  color: #3c9a8f;
}

a:hover {
  text-decoration: underline;
  background-color: none;
  color: #3c9a8f;
}

a:active {
  color: #3c9a8f;
  text-decoration: underline;
  background-color: none;
}

a:visited {
  color: #3c9a8f;
  text-decoration: none;
  background-color: none;
}